<%
    Object.assign(page, theme.archive);

    let first = true;
    const map = {};
%>

<div class="dt-archive">
<% site.posts.sort('date', 'desc').each((post, i) => { %>
    <% let newYear = false; %>
    <% const year = post.date.format('YYYY'); %>
    <% const month = post.date.format('MMMM'); %>

    <% if (!map[year]) { %>
        <% if (!first) { %>
    </ul>
            <% first = false; %>
        <% } %>
    <h2><span><%- year %></span><div></div></h2>
        <% newYear = true; %>
        <% map[year] = {}; %>
    <% } %>

    <% if (!map[year][month]) { %>
        <% if (!newYear) { %>
                </ul>
        <% } %>
    <h3><%- month %></h3>
    <ul>
        <% map[year][month] = {} %>
    <% } %>
        <li class="dt-archive-item"><a href="<%- url_for(post.path) %>"><%- post.title %></a> - <%- post.blurb %></li>
<% }) %>
    <ul>
</div>