<%
    const isPost = page.date && page.layout === 'post';
    const hasTitle = !!page.title;
    const hasBlurb = !!page.blurb;

    const headerStyle = [
        page.image ? `background: url('${page.image}'); ` : ' ',
        page.image_offset ? `background-position: ${page.image_offset}; ` : ' ',
        page.image_size ? `background-size: ${page.image_size};` : ' '
    ].join('');
%>

<% if (!page.suppress_header) { %>
<header class="dt-header<%- isPost ? ' date-shown' : '' %>" style="<%- headerStyle %>">
    <% if (hasBlurb) { %>
        <div class="dt-blurb">
            <p>
                <%- page.blurb %>
            </p>
        </div>
    <% } %>

    <% if (hasTitle) { %>
    <h1><span><%- page.title %></span></h1>
    <% } %>

    <% if (isPost) { %>
    <h2>
        <span>
            <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished"><%= date(page.date, 'MMM Do, YYYY') %></time>
        </span>
    </h2>
    <% } %>
</header>
<% } %>