<% const isPost = page.date && page.layout === 'post'; %>
<% if (!page.suppress_header) { %>
<header id="dt-header" style="background: url('<%- page.image %>'); <%- page.image_offset ? 'background-position: ' + page.image_offset : '' %>; <%- page.image_size ? 'background-size: ' + page.image_size : '' %>;" <%- isPost ? 'class="date-shown"' : '' %>>
    <h1><span><%- page.title -%></span></h1>
    <% if (isPost) { %>
    <h2>
        <span>
            <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished"><%= date(page.date, 'MMM Do, YYYY') %></time>
        </span>
    </h2>
    <% } %>
</header>
<% } %>