<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%- config.title %><%- page.title ? ' - ' + page.title : '' %></title>
        <script src="https://use.fontawesome.com/ad93da429e.js"></script>
        <link href='<%- theme.google.fonts %>' rel='stylesheet' type='text/css'>
        <%- css('/css/app.css') %>
    </head>

    <body>
        <%- partial('components/nav/nav.ejs') %>
        <%- partial('components/banner/header.ejs') %>
        <%- partial('components/body/body.ejs') %>
        <%- partial('components/footer/footer.ejs') %>
    </body>
</html>